.pic1 {
    width: 100%;
    height: 500px;
}
.card-img-top {
    width: auto;
    height: 200px;
}
.carousel-inner img {
    max-height: 500px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
  }
footer {
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo img {
    width: 50px;
    height: 50px;
  }
  
  .footer-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .footer-info {
    text-align: right;
    font-size: 14px;
    color: #666;
  }
  

  